.zfooter .zfc-one #text-2 {
    padding-left: 0px;
}

.zfooter {
    padding-top: 50px;
    padding-bottom: 50px;
}

.z-title {
    color: #535353;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
}

.zfc ul {
    padding-left: 0px;
}

.zfc ul li {
    list-style-type: none;
    color: #000;
}

.zfc ul li a,
.zfc ul li h4 {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}

.zfc-three ul li a {
    color: #535353;
    font-weight: bold;
    line-height: 25px;
}

.zfc-three ul li a i {
    font-size: 15px;
}

#topbar {
    display: none;
}

#menu-shop-by-category > li > .zen-menu > ul > li > a {
    font-weight: bold;
    text-decoration: underline;
}

.woof_products_top_panel {
    display: none !important;
}

.sbOptions {
    max-height: none !important;
}

.z-pay .js-footer-sprite {
    background-image: url('/wp-content/themes/nielvmms/asset/images/footer_logo_15072015.png');
}

.z-pay .cms-sprite-footer {
    background-repeat: no-repeat;
}

.z-pay .payMasterCard {
    height: 37px;
    width: 78px;
    background-position: -252px -4px;
}

.z-pay .payVISA {
    height: 43px;
    width: 69px;
    background-position: -192px -93px;
    margin-top: 5px;
}

.z-pay .payCOD {
    height: 34px;
    width: 61px;
    background-position: -131px -93px;
    margin-left: 30px;
}

.z-pay .ui-listItem {
    display: inline-block;
}

.icon2 {
    text-indent: -100000px;
    float: left;
    overflow: hidden;
    margin-left: 3px;
}

.woocommerce-ordering {
    z-index: 1;
}

ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button > .out-of-stock {
    padding: 7px;
}

@media screen and (max-width: 768px) {
    #contact-form-contact-us .submit-button {
        display: block;
        margin: auto;
    }
    #contact-form-contact-us .submit-button .alignright {
        float: none;
        margin-left: 0px;
    }
    #contact-form-contact-us textarea {
        padding-right: 10px;
    }
    ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button img.icon-add-to-cart {
        display: block;
        margin: auto;
    }
    .quick_buy_container a {
        padding: 3px 13px;
    }
    .product-type-variable .product_actions_container,
    .product-type-grouped .product_actions_container {
        padding-top: 35px;
    }
}

@media screen and (max-width: 1000px) {
    .quick_buy_container a {
        padding: 3px 13px;
    }
    ul.products li.product .product-wrapper .product-actions-wrapper .product-action-button > .out-of-stock {
        padding: 14px;
    }
}
